@font-face {
    font-family: 'Freeride';
    src: local('Freeride'), url('fonts/Freeride.woff2') format('woff2'), url('fonts/Freeride.woff') format('woff'), url('fonts/Freeride.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html, body {
	height: 100%;
	width: 100%;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(img/bck2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.wrapper {
	padding: 1%;
	height: 98%;
	width: 80%;
	margin: 0 auto;
}

main {
	display: table;
	height: 98%;
	width: 60%;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 0 5px 2px lightgray;
}

.main_header {
	display: flex;
	justify-content: center;
	align-content: stretch;
	width: 100%;
	min-height: 150px;
	background: white;

}
.main_header div {
	width: 100%;
	background: url(img/logo_1.png);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: contain;
}

.main_menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: stretch;
	width: 100%;
	min-height: 40px;
	background: white;	
}

.main_menu ul {
	display: flex;
	align-items: stretch;
	justify-content: center;
	width: 100%;
	min-height: 40px;
	list-style: none;
}

.main_menu ul li {
	display: flex;
	min-width: 10%;
	margin: 0 1%;
	font-weight: bold;
	text-align: center;
	align-items: stretch;
}

.main_menu ul li a {
	display: flex;
	width: 100%;
	text-decoration: none;
	font-family: 'Freeride';
	color: black;
	align-items: center;
}

.main_menu ul li a span {
	display: inline-block;
	width: 100%;
	word-wrap: break-word;
}

.main_menu ul li a:hover {
	box-shadow: 0 0 5px 0 black;
	background-color: rgba(240, 255, 240, 0.8);
	font-size: 1.1em;
}

.main_footer {
	display: table-footer-group;
	background: white;
	font-family: 'Freeride';	
}

.main_footer section {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-around;
	font-size: 0.7em;

}

.main_footer section ul {
	list-style: none;
}

.main_footer section ul a {
	text-decoration: none;
	color: black;
}

.main_footer section .copyrights {
	align-self: flex-end;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: 20%;
}

.main_footer section .footer_part {
	margin: 1%;
	width: 10%;
	word-wrap: break-word;
}

.main_footer section .contacts {
	margin-left: 20%;
}

.main_footer section .socials li a {
	display: block;
	height: 5%;
	width: 100%;
}

.main_footer section .socials a:nth-child(1) {
	background-image: url(img/icons.png);
}